.form {
  max-width: 470px;

  ::placeholder {
    color: $text-light;
    font-size: 15px;
    opacity: 0.7;
  }

  :focus {
    padding-bottom: 16px;
    border-bottom-width: 2px;
    opacity: 1;
  }

  &__input {
    width: 460px;
    margin-bottom: 40px;
    padding: 17px 0;
    color: $text-light;
    font-size: 15px;
    border-width: 0;
    border-bottom-width: 1px;
    background-color: $footer-color;
    opacity: 0.8;
    transition: opacity 0.5s;
    outline: none;
  }

  &__submit {
    margin: 40px 0;
    @include button;
  }

  @media (max-width: 595px) {
    width: 280px;

    &__input {
      width: 280px;
    }
  }
}
